
#cabelho{
	background: #cd6b53;

}
 a{
 	color: #ffffff;
 }

#cor{
	background: #cd7e53;
}
.formatar{
	background: #cd7e53;
}
#branco{
	color: white;
}
#rodape{
	background: #cd6b53;
	height: 150px;
}
.rodapebra{
	color: white;
}